<app-nav></app-nav>
<div class="container">
  <div class="view-history-container">
  <div class="heading">
			<h2 class="float-left">Game History</h2>
			<a routerLink="/profile" class="profile-link float-right">< back to profile</a>
		<div class="clear-fix"></div>
		</div>
    <div class="history-div-list" *ngFor="let game of gameHistory; let i = index">
      <h4>{{game.gameName}}</h4>
      <span class="hist-date">{{game.createdTime | date:'medium'}}</span><br>
      <div class="row">
        <div class="col-md-5">
          <h5>Players</h5>
          <ul><li *ngFor="let player of game.players">{{player.name}}</li></ul>
        </div>
        <div class="col-md-5">
          <h5>Winner</h5>
          <ul><li id="winner">{{game.winner}}</li></ul>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary stats" (click)="viewStats(i)">view stats</button>
        </div>
      </div>
    </div>
  </div>
</div>
