<app-nav></app-nav>
<div class="container">
	<div class="game-form-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form (ngSubmit)="onSubmit(gameForm)" #gameForm="ngForm">
                    <input name="gamename" id="gamename" type="text" placeholder="gamename" required [(ngModel)]="game.gamename" #gamename="ngModel">
					<div [hidden]="gamename.valid || gamename.pristine" class="alert alert-danger">gamename is required</div>
					
					<input name="gamescore" id="gamescore" type="number" placeholder="gamescore" required [(ngModel)]="game.gamescore" #gamescore="ngModel">
					<div [hidden]="gamescore.valid || gamescore.pristine" class="alert alert-danger">gamescore is required</div>
					
					<div class="clear-fix"></div>
					
					<input name="playerName" id="playerName" type="text" placeholder="playerName" [(ngModel)]="model.playerName" #playerName="ngModel">
					<div [hidden]="playerName.valid || playerName.pristine" class="alert alert-danger">playerName is required</div>
					
					<button type="button" id="add-btn" class="btn btn-primary " (click)="addPlayer(playerName.value); playerName.value=null" >Add</button>
					<div class="participants">
					<h3><span>Participants</span></h3>
					<ul>
						<li *ngFor="let name of playerNames">{{name}}</li>
					</ul>
					</div>
					<br/>
					<div class="submit-btn-div">
                    <button type="submit" class="btn btn-primary submit-btn" [disabled]="!gameForm.form.valid">Start</button>
					</div>
                </form>
            </div>
    </div>
</div>