<app-nav></app-nav>
<div class="container">
	<div class="row">
		<div class="col-md-9">
		<div class="left-container">
			<div class="profile-container">
				<div class="row">
					<div class="col-md-2">
						<img class="img-circle" src={{user.profilePic}}>
						<app-upload-files showPreview="false" ></app-upload-files>
						<!-- <img class="img-circle" src="../../assets/profilePictures/male1.jpg"> -->
					</div>
					<div class="col-md-10">
						<div class="user-display">
							<span class="userspan">{{user.firstName}} {{user.lastName}}</span>
							<div class="stats-overview">
								<ul class="stats-list">
									<li>Games <br>{{user.stats.games}}</li>
									<li>Show Count<br>{{user.stats.showCount}}</li>
									<li>Full Count<br>{{user.stats.fullCount}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="user-history">
							<h4 class="float-left heading">History<small>  (last 5)</small></h4>
							<span class="view-all float-right"><a routerLink="/history">view all</a></span>
							<div class="clear-fix"></div>
							<div class="history-container">
								<div class="history-div-list" *ngFor="let game of gameHistory; let i = index">
									<h4>{{game.gameName}}</h4>
									<span class="hist-date">{{game.createdTime | date:'medium'}}</span><br>
									<div class="row">
										<div class="col-md-5">
											<h5>Players</h5>
                      <ul class="players-ul"><li *ngFor="let player of game.players">{{player.name}}</li></ul>
										</div>
										<div class="col-md-5">
											<h5>Winner</h5>
                      <ul><li id="winner">{{game.winner}}</li></ul>
										</div>
										<div class="col-md-2">
										<button type="button" class="btn btn-primary stats" (click)="viewGameStats(i)">view stats</button>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>
		</div>
		<div class="col-md-3">
			<!--<div class="badges">
				<h4>Badges</h4>
				<ul class="badge-list">
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
					<li><img class="img-circle" src="http://placehold.it/50x50"></li>
				</ul>
			</div>-->
			<div class="circles">
				<h4 class="float-left">Cirlces</h4>
				<div class="circles-container" *ngIf="hasCircles">
				<span class="view-all float-right"><a routerLink="/create-circle" class="create-link">Create</a><a routerLink="/view-circles">view all</a></span>
							<div class="clear-fix"></div>
				<ul class="circle-list">
					<li *ngFor="let circle of user.circles"><img class="img-circle" src="http://placehold.it/50x50"><br>{{circle.name}}</li>
				</ul>
				</div>
				<div class="create-new" *ngIf="!hasCircles">
				<div class="clear-fix"></div>
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" (click)="createCircle()" ></span><br>
					<span>Create Circle</span>
				</div>
			</div>
		</div>
	</div>
</div>
